.logo {
    font-size: 26px;
    font-weight: 900;
    margin: 0 0 0 13px;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
}

.topbar {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: 100vw;
    display: flex;
    align-items: flex-start;
}

.top-btn {
    all: unset;
    color: white;
    background: #403B3B;
    /* box-shadow: 0px 64px 95.85px rgba(58, 58, 58, 0.2); */
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 21px;
    font-size: 14px;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    font-weight: 700;
    /* width: 167px;
    height: 50px; */
  }
  