.summary-page-container {
    min-height: 200vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5F5F5;
}


.sub-container {
    min-width: 700px;
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.score-container {
    color: white;
    height: 170px;
    width: 170px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    grid-row: 1/2;
    margin: 20px 20px;
}

.summary-container {
    color: black;
    font-size: 20px;
    height: 170px;
    width: 450px;
    overflow-wrap: break-word;
    border-radius: 50px;
    grid-row: 1/2;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.meal-row {
    display: grid;
    gap: 20px;
    box-shadow: 0px 64px 95.85px rgba(58, 58, 58, 0.2);
    border-radius: 50px;
    background-color: white;
}

h1 {
    margin-bottom: 25px;
    font-size: 30px;
}

.your-food-txt {
    margin-top: 70px;
    font-size: 30px;
}


.food-summary-section {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 10px; */
}

.food-summary-container {
    background-color: white;
    box-shadow: 0px 10px 20px rgba(58, 58, 58, 0.2);
    border-radius: 25px;
    min-height: 100px;
    width: 700px;
    margin-bottom: 20px;
    display: grid
}

.food-summary {
    margin: 20px 20px;
}

.food-title {
    all: unset;
    display: block;
    font-size: 22px;
    font-weight: 700px;
    margin-bottom: 10px;
}

.fa-chevron-right {
    margin-right: 3px;
    -webkit-text-stroke: 2px white;
}


.article-summary-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.article-summary-container {
    background-color: white;
    box-shadow: 0px 10px 20px rgba(58, 58, 58, 0.2);
    border-radius: 25px;
    min-height: 200px;
    width: 700px;
    margin-bottom: 20px;
}

.article-summary {
    margin: 20px 20px;
}

.article-title {
    margin-bottom: 10px;
    
}