.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .landing-title {
    font-size: 80px;
    margin-bottom: 12px;
  }
  
  .landing-sub-title {
    font-size: 25px;
    max-width: 480px;
    margin: 0 0;
    margin-bottom: 22px;
    font-weight: 400;
  }
  
  button {
    background-color: transparent;
    border-width: 0;
    padding: 0;
    background-color: #403B3B;
  }
  
  a {
    all: unset;
  }
  
  .btn {
    color: white;
    background: #403B3B;
    box-shadow: 0px 64px 95.85px rgba(58, 58, 58, 0.2);
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
  }
  
  .App-header {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  